/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
  width: 1450px;
  height: 1700px;
  background: url('Ellipse 1 copy.png') 161px 121px/1190px 1064px no-repeat,
  #e8e8e8;
}

.travel {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 40px;
  color:#8c969a;
  font-family: "Arial";
  text-align: center;
  margin-top: 168px
}

.header {
font-size: 36px;
line-height: 50px;
color: #273d46;
font-family: "Times New Roman";
text-align: center;
  height: 75px;
  width: 725px;
  margin: 1px auto 0 365px;
  
}
/*.divImg{
  margin: 60px auto;
}*/
.img {
  display: block;
  filter: drop-shadow(0px 15px 32.5px rgba(15, 16, 16, 0.15));
  border: 10px solid #ffffff;
  width: 841px;
  height: 561px;
  margin: 89px auto 60px 308px;
}
.div {
  width: 736px;
  font-size: 24px;
  line-height: 40px;
  color: #273d46;
  font-family: "Times New Roman";
  margin: auto auto auto 334px;
}
ul {
  display: block;
margin: 40px auto 0 330px;
}
.li1 {
  font-size: 20px;
  line-height: 36px;
  color: #273d46;
  font-family: "Arial";
  filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.3));
}
.li2 {
  font-size: 20px;
  line-height: 36px;
  color: #80b7b3;
  font-family: "Arial";
  font-style: italic;
}
.li3 {
  font-size: 20px;
  line-height: 36px;
  color: #273d46;
  font-family: "Arial";
  font-weight: 700;
}
.li4 {
  font-size: 20px;
  line-height: 36px;
  text-decoration: line-through;
  color: #aeb4b7;
  font-family: "Arial";
}
ul li {
  background: url('check icon.png') left /25px 19px no-repeat;
  padding: 0px 0px 0px 36px
}
.button {
  display: block;
  width: 199px;
  height: 44px;
  filter: drop-shadow(0px 6px 20px rgba(128,183,179,0.54));
  background: #80b7b3;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 40px;
  color: #ffffff;
  font-family: "Arial";
  text-align: center;
  text-transform: uppercase;
  margin: 40px auto 0 330px;
  border-radius: 20px;
  padding-top: 3px
}

.strelka {
  display: inline-block;
  margin: 11px 0px auto 0px;
}
.button:hover{
  background-color: #c0b6b2;
}